# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*.swp
*.swo
*~

# Project specific
code_export_*.txt 